# Slido shared `.mailmap` file.
#
# This file is synchronized from the `slido-mailmap` repository; therefore, any changes made outside of that
# repository will be eventually overwritten. Check https://github.com/sli-do/slido-mailmap for more details.

# @MetinArslanturk
Metin Arslantürk <marslant@cisco.com>
Metin Arslantürk <marslant@cisco.com> <marslanturk@slido.com>
Metin Arslantürk <marslant@cisco.com> <metinarslanturkk@gmail.com>

# @matusbalascak
Matúš Balaščák <mbalasca@cisco.com>
Matúš Balaščák <mbalasca@cisco.com> <mbalascak@slido.com>
Matúš Balaščák <mbalasca@cisco.com> <balascakmatus@gmail.com>
Matúš Balaščák <mbalasca@cisco.com> <matusbalascak@users.noreply.github.com>

# @abalazi
Adam Baláži <abalazi@cisco.com>
Adam Baláži <abalazi@cisco.com> <abalazi@slido.com>
Adam Baláži <abalazi@cisco.com> <154591447+abalazi@users.noreply.github.com>

# @filipbalucha
Filip Balucha <fbalucha@slido.com>

# @lakeron
Andrej Baran <barana@cisco.com>
Andrej Baran <barana@cisco.com> <abaran@slido.com>
Andrej Baran <barana@cisco.com> <lakeron@gmail.com>

# @xbaran
Milan Baran <milbaran@cisco.com>
Milan Baran <milbaran@cisco.com> <mbaran@slido.com>
Milan Baran <milbaran@cisco.com> <milan.baran@gmail.com>

# @SimonBehul
Šimon Behúl <behul@cisco.com>
Šimon Behúl <behul@cisco.com> <sbehul@slido.com>
Šimon Behúl <behul@cisco.com> <simon.behul@gmail.com>
Šimon Behúl <behul@cisco.com> <SimonBehul@users.noreply.github.com>

# @bellizzij
Jennifer Bellizzi <jbellizz@cisco.com>
Jennifer Bellizzi <jbellizz@cisco.com> <jbellizzi@slido.com>
Jennifer Bellizzi <jbellizz@cisco.com> <jenbel1993@gmail.com>

# @norabertholome
Nora Bertholome <nberthol@cisco.com>
Nora Bertholome <nberthol@cisco.com> <nbertholome@slido.com>

# @abelaska, @LojzaCisco
Alois Bělaška <abelaska@cisco.com>
Alois Bělaška <abelaska@cisco.com> <abelaska@slido.com>
Alois Bělaška <abelaska@cisco.com> <alois@belaska.me>
Alois Bělaška <abelaska@cisco.com> <98875561+LojzaCisco@users.noreply.github.com>

# @magnifiq
Khrystyna Bindiuk <kbindiuk@cisco.com>
Khrystyna Bindiuk <kbindiuk@cisco.com> <kbindiuk@slido.com>
Khrystyna Bindiuk <kbindiuk@cisco.com> <124519076+magnifiq@users.noreply.github.com>

# @richard174
Richard Blažo <rblazo@cisco.com>
Richard Blažo <rblazo@cisco.com> <rblazo@slido.com>
Richard Blažo <rblazo@cisco.com> <138596462+richard174@users.noreply.github.com>

# @mirbodis
Miroslav Bodiš <bodis@cisco.com>
Miroslav Bodiš <bodis@cisco.com> <mbodis@localhost.svabwork>
Miroslav Bodiš <bodis@cisco.com> <mbodis@localhost.svab_work>
Miroslav Bodiš <bodis@cisco.com> <mbodis@slido.com>
Miroslav Bodiš <bodis@cisco.com> <89529285+mirbodis@users.noreply.github.com>

# @filipbodor
Filip Bodor <fbodor@cisco.com>
Filip Bodor <fbodor@cisco.com> <fbodor@slido.com>
Filip Bodor <fbodor@cisco.com> <95436954+filipbodor@users.noreply.github.com>

# @adamcq
Adam Borguľa <aborgula@cisco.com>
Adam Borguľa <aborgula@cisco.com> <aborgula@slido.com>
Adam Borguľa <aborgula@cisco.com> <81876649+adamcq@users.noreply.github.com>

# @lubosak
Ľuboš Bosák <lbosak@cisco.com>
Ľuboš Bosák <lbosak@cisco.com> <lbosak@slido.com>
Ľuboš Bosák <lbosak@cisco.com> <lubos.bosak@tuta.io>

# @vikinka1233
Viktória Brezina <karolova@cisco.com>
Viktória Brezina <karolova@cisco.com> <kvkarolova@slido.com>
Viktória Brezina <karolova@cisco.com> <v.karolova4@gmail.com>
Viktória Brezina <karolova@cisco.com> <36133204+vikinka1233@users.noreply.github.com>
Viktória Brezina <karolova@cisco.com> <vikinka1233@users.noreply.github.com>

# @brozi8
Martin Broz <brozm@cisco.com>
Martin Broz <brozm@cisco.com> <mb@slido.com>

# @matejbudzel
Matej Budzel <budzel@cisco.com>
Matej Budzel <budzel@cisco.com> <budzel@gmail.com>
Matej Budzel <budzel@cisco.com> <mbudzel@slido.com>
Matej Budzel <budzel@cisco.com> <matejbudzel@users.noreply.github.com>

# @xadina
Jonathan Bugeja <jbugeja@cisco.com>
Jonathan Bugeja <jbugeja@cisco.com> <jbugeja@slido.com>
Jonathan Bugeja <jbugeja@cisco.com> <xadina@users.noreply.github.com>

# @graeme-1
Graeme Butlin <gbutlin@cisco.com>
Graeme Butlin <gbutlin@cisco.com> <gbutlin@slido.com>

# @marekcis
Marek Chrenko <chrenko@cisco.com>
Marek Chrenko <chrenko@cisco.com> <mchrenko@slido.com>
Marek Chrenko <chrenko@cisco.com> <chrenko.marek@gmail.com>
Marek Chrenko <chrenko@cisco.com> <marek@monokell.com>
Marek Chrenko <chrenko@cisco.com> <marekcis@users.noreply.github.com>
Marek Chrenko <chrenko@cisco.com> <91459425+marekcis@users.noreply.github.com>

# @wptb-limenet
Štefan Chromik <schromik@cisco.com>
Štefan Chromik <schromik@cisco.com> <stefan@slido.com>
Štefan Chromik <schromik@cisco.com> <stevo@slido.com>

# @cechdaniel
Daniel Čech <cechd@cisco.com>
Daniel Čech <cechd@cisco.com> <dcech@slido.com>
Daniel Čech <cechd@cisco.com> <cechdaniel@users.noreply.github.com>
Daniel Čech <cechd@cisco.com> <91459827+cechdaniel@users.noreply.github.com>

# @y0j0
Jozef Čechovský <jcechovs@cisco.com>
Jozef Čechovský <jcechovs@cisco.com> <jcechovsky@slido.com>
Jozef Čechovský <jcechovs@cisco.com> <cechovsky.jozef@gmail.com>

# @cizmazia
Michal Čizmazia <cizmazia@cisco.com>
Michal Čizmazia <cizmazia@cisco.com> <mcizmazia@slido.com>
Michal Čizmazia <cizmazia@cisco.com> <440490+cizmazia@users.noreply.github.com>

# @ddomonkos
Dávid Domonkos <ddomonk@cisco.com>
Dávid Domonkos <ddomonk@cisco.com> <ddomonkos@slido.com>
Dávid Domonkos <ddomonk@cisco.com> <dav.domonkos@gmail.com>
Dávid Domonkos <ddomonk@cisco.com> <ddomonkos@users.noreply.github.com>

# @lubod
Ľubomír Drobný <drobnyl@cisco.com>
Ľubomír Drobný <drobnyl@cisco.com> <ldrobny@slido.com>
Ľubomír Drobný <drobnyl@cisco.com> <lubo.drobny@gmail.com>

# @ValKiriann
Ana Enríquez <anaenriq@cisco.com>
Ana Enríquez <anaenriq@cisco.com> <aealonsovillalobos@slido.com>

# 
Kristína Gáliková <kgalikova@slido.com>
Kristína Gáliková <kgalikova@slido.com> <kristina.galik@gmail.com>

# @zoegerolemou
Zoe Gerolemou <zgerolem@cisco.com>
Zoe Gerolemou <zgerolem@cisco.com> <zgerolemou@slido.com>

# @martin-gomola
Martin Gomola <mgomola@cisco.com>
Martin Gomola <mgomola@cisco.com> <mgomola@slido.com>
Martin Gomola <mgomola@cisco.com> <91186416+martin-gomola@users.noreply.github.com>

# @robhadfield
Rob Hadfield <rohadfie@cisco.com>
Rob Hadfield <rohadfie@cisco.com> <rhadfield@slido.com>
Rob Hadfield <rohadfie@cisco.com> <me@robhadfield.co.uk>
Rob Hadfield <rohadfie@cisco.com> <rohadfie@cisco.com@rohadfie-m-fjac.lan>
Rob Hadfield <rohadfie@cisco.com> <rohadfie@rohadfie-m-3hkq.lan>

# @hzoli42
Zoltán Hanesz <zhanesz@slido.com> 
Zoltán Hanesz <zhanesz@slido.com> <zh4917@ic.ac.uk>

# @jharinek
Jozef Harinek <harinekj@cisco.com>
Jozef Harinek <harinekj@cisco.com> <jharinek@slido.com>
Jozef Harinek <harinekj@cisco.com> <j.harinek@gmail.com>
Jozef Harinek <harinekj@cisco.com> <jharinek@users.noreply.github.com>

# @dhlavaty
Dušan Hlavatý <duhlavat@cisco.com>
Dušan Hlavatý <duhlavat@cisco.com> <dhlavaty@slido.com>
Dušan Hlavatý <duhlavat@cisco.com> <dhlavaty@gmail.com>

# @simholubkova
Simona Holúbková <sholubko@cisco.com>
Simona Holúbková <sholubko@cisco.com> <sholubkova@slido.com>
Simona Holúbková <sholubko@cisco.com> <sim.holubkova@gmail.com>
Simona Holúbková <sholubko@cisco.com> <44809655+simholubkova@users.noreply.github.com>

# @virpo
Peter Hraška <hraska@cisco.com>
Peter Hraška <hraska@cisco.com> <phraska@slido.com>
Peter Hraška <hraska@cisco.com> <virpo.san@gmail.com>
Peter Hraška <hraska@cisco.com> <virpo@users.noreply.github.com>

# @filiphric
Filip Hric <fhric@cisco.com>
Filip Hric <fhric@cisco.com> <filip@slido.com>
Filip Hric <fhric@cisco.com> <filip@sli.do>
Filip Hric <fhric@cisco.com> <filip@filiphric.com>
Filip Hric <fhric@cisco.com> <filip@filiphric.sk>

# @mhrutka
Michal Hrutka <mhrutka@cisco.com>
Michal Hrutka <mhrutka@cisco.com> <mino@slido.com>
Michal Hrutka <mhrutka@cisco.com> <michal hrutka>

# @hilcik
Hubert Ilčík <hilcik@cisco.com>
Hubert Ilčík <hilcik@cisco.com> <hilcik@slido.com>
Hubert Ilčík <hilcik@cisco.com> <hubert.ilcik@gmail.com>
Hubert Ilčík <hilcik@cisco.com> <101552109+hilcik@users.noreply.github.com>

# @todor-ilivanov
Todor Ilivanov <tilivano@cisco.com>
Todor Ilivanov <tilivano@cisco.com> <tilivanov@slido.com>
Todor Ilivanov <tilivano@cisco.com> <t.ilivanov@gmail.com>

# @jozefizso
Jozef Izso <izso@cisco.com>
Jozef Izso <izso@cisco.com> <jizso@slido.com>
Jozef Izso <izso@cisco.com> <jozef.izso@gmail.com>
Jozef Izso <izso@cisco.com> <jozefizso@users.noreply.github.com>

# @kirecek
Erik Jankovič <erjankov@cisco.com>
Erik Jankovič <erjankov@cisco.com> <ejankovic@slido.com>

# @danielajass
Daniela Jašš <danielao@cisco.com>
Daniela Jašš <danielao@cisco.com> <dovadova@slido.com>
Daniela Jašš <danielao@cisco.com> <djass@slido.com>
Daniela Jašš <danielao@cisco.com> <91727831+danielajass@users.noreply.github.com>

# @jurajjonek
Juraj Jonek <jjonek@cisco.com>
Juraj Jonek <jjonek@cisco.com> <jjonek@slido.com>

# @JMatej
Matej Jurčák <mjurcak@slido.com>

# @karaspa
Pavol Karas <karasp@cisco.com>
Pavol Karas <karasp@cisco.com> <pkaras@slido.com>
Pavol Karas <karasp@cisco.com> <pavol.karas@gmail.com>
Pavol Karas <karasp@cisco.com> <karaspa@users.noreply.github.com>
Pavol Karas <karasp@cisco.com> <91725435+karaspa@users.noreply.github.com>

# @gkaretka
Gregor Karetka <gkaretka@cisco.com>
Gregor Karetka <gkaretka@cisco.com> <gkaretka@slido.com>

# @dbarok
Daniela Karasová <barok@cisco.com>
Daniela Karasová <barok@cisco.com> <dbarokova@slido.com>
Daniela Karasová <barok@cisco.com> <85285468+dbarok@users.noreply.github.com>

# @katreniak
Branislav Katreniak <bkatreni@cisco.com>
Branislav Katreniak <bkatreni@cisco.com> <bkatreniak@slido.com>
Branislav Katreniak <bkatreni@cisco.com> <katreniak@gmail.com>

# @kisside
Michal Kišš <mickiss@cisco.com>
Michal Kišš <mickiss@cisco.com> <mkiss@slido.com>
Michal Kišš <mickiss@cisco.com> <kissmichal1@gmail.com>
Michal Kišš <mickiss@cisco.com> <76511110+kisside@users.noreply.github.com>

# @jerryklimcik
Jaroslav Klimčík <jklimcik@cisco.com>
Jaroslav Klimčík <jklimcik@cisco.com> <jklimcik@slido.com>
Jaroslav Klimčík <jklimcik@cisco.com> <jerry.klimcik@gmail.com>

# 
Jakub Kolar <jakub@slido.com>
Jakub Kolar <jakub@slido.com> <kubo.kolar@gmail.com>

# @one-data-cookie
Michal Koláček <kolacek@cisco.com>
Michal Koláček <kolacek@cisco.com> <mkolacek@slido.com>
Michal Koláček <kolacek@cisco.com> <57877739+one-data-cookie@users.noreply.github.com>

# @jkonst
Yannis Konstas <jkonstas@cisco.com>
Yannis Konstas <jkonstas@cisco.com> <ykonstas@slido.com>
Yannis Konstas <jkonstas@cisco.com> <yannis.konstas@gmail.com>
Yannis Konstas <jkonstas@cisco.com> <jkonst@users.noreply.github.com>

# @zuziiii
Zuzana Kontríková <kontrik@cisco.com>
Zuzana Kontríková <kontrik@cisco.com> <zkontrikova@slido.com>

# @dn0
Daniel Kontšek <danok@cisco.com>
Daniel Kontšek <danok@cisco.com> <dkontsek@slido.com>
Daniel Kontšek <danok@cisco.com> <daniel@kontsek.sk>

# @t-kostan
Tomáš Košťan <tkostan@cisco.com>
Tomáš Košťan <tkostan@cisco.com> <tkostan@slido.com>

# @TimotejKovacka
Timotej Kovačka <tkovacka@cisco.com>
Timotej Kovačka <tkovacka@cisco.com> <tkovacka@slido.com>
Timotej Kovačka <tkovacka@cisco.com> <77453221+TimotejKovacka@users.noreply.github.com>

# @jkovacikova
Jana Kováčiková <janka@cisco.com>
Jana Kováčiková <janka@cisco.com> <jkovacikova@slido.com>
Jana Kováčiková <janka@cisco.com> <32840369+jkovacikova@users.noreply.github.com>

# @kitkatk, @kitkat73
Katarína Kozáková <katkab@cisco.com>
Katarína Kozáková <katkab@cisco.com> <kbenesova@slido.com>
Katarína Kozáková <katkab@cisco.com> <kkozakova@slido.com>
Katarína Kozáková <katkab@cisco.com> <kkozakova47@gmail.com>
Katarína Kozáková <katkab@cisco.com> <42228832+kitkatk@users.noreply.github.com>
Katarína Kozáková <katkab@cisco.com> <42228832+kitkat73@users.noreply.github.com>

# @m-kovac
Marek Kováč <mkova@cisco.com>
Marek Kováč <mkova@cisco.com> <mkovac@slido.com>
Marek Kováč <mkova@cisco.com> <marek.kovac@panaxeo.com>
Marek Kováč <mkova@cisco.com> <118190208+m-kovac@users.noreply.github.com>

# @elkozmon
Ľuboš Kozmon <lkozmon@cisco.com>
Ľuboš Kozmon <lkozmon@cisco.com> <lkozmon@slido.com>
Ľuboš Kozmon <lkozmon@cisco.com> <elkozmon@users.noreply.github.com>

# 
Samuel Krajči <skrajci@slido.com>

# @matejkrajcovic
Matej Krajčovič <mkrajcov@cisco.com>
Matej Krajčovič <mkrajcov@cisco.com> <mkrajcovic@slido.com>
Matej Krajčovič <mkrajcov@cisco.com> <matejkrajcovic@users.noreply.github.com>

# @akristufek
Andrej Krištúfek <andrejsk@cisco.com>
Andrej Krištúfek <andrejsk@cisco.com> <andrej@slido.com>
Andrej Krištúfek <andrejsk@cisco.com> <96236161+akristufek@users.noreply.github.com>

# @martinkrizka
Martin Križka <mkrizka@cisco.com>
Martin Križka <mkrizka@cisco.com> <krizka@cisco.com>
Martin Križka <mkrizka@cisco.com> <mkrizka@slido.com>
Martin Križka <mkrizka@cisco.com> <martinkrizka@users.noreply.github.com>
Martin Križka <mkrizka@cisco.com> <91117457+martinkrizka@users.noreply.github.com>

# @mimkri
Miriam Križková <mimikri@cisco.com>
Miriam Križková <mimikri@cisco.com> <mkrizkova@slido.com>
Miriam Križková <mimikri@cisco.com> <91555048+mimkri@users.noreply.github.com>

# @witcher-development
Roman Kuznietsov <rkuzniet@cisco.com>
Roman Kuznietsov <rkuzniet@cisco.com> <rkuznietsov@slido.com>
Roman Kuznietsov <rkuzniet@cisco.com> <28788017+witcher-development@users.noreply.github.com>>
Roman Kuznietsov <rkuzniet@cisco.com> <roman.web.kuznietsov@gmail.com>
Roman Kuznietsov <rkuzniet@cisco.com> <witcher-development@users.noreply.github.com>>

# @miluoshi
Miloš Lajtman <lajtmil@cisco.com>
Miloš Lajtman <lajtmil@cisco.com> <mlajtman@slido.com>
Miloš Lajtman <lajtmil@cisco.com> <lajtman@gmail.com>
Miloš Lajtman <lajtmil@cisco.com> <milos.lajtman@edocu.com>
Miloš Lajtman <lajtmil@cisco.com> <miluoshi@users.noreply.github.com>
Miloš Lajtman <lajtmil@cisco.com> <1130547+miluoshi@users.noreply.github.com>

# @andrejleitner
Andrej Leitner <anleitne@cisco.com>
Andrej Leitner <anleitne@cisco.com> <aleitner@slido.com>
Andrej Leitner <anleitne@cisco.com> <andrej.leitner@gmail.com>
Andrej Leitner <anleitne@cisco.com> <andrejleitner@users.noreply.github.com>

# @daelmaak
Daniel Macák <damacak@cisco.com>
Daniel Macák <damacak@cisco.com> <dmacak@slido.com>
Daniel Macák <damacak@cisco.com> <daelmaak@users.noreply.github.com>
Daniel Macák <damacak@cisco.com> <34311965+daelmaak@users.noreply.github.com>

# @macodroid
Andrej Macko <anmacko@cisco.com>
Andrej Macko <anmacko@cisco.com> <amacko@slido.com>
Andrej Macko <anmacko@cisco.com> <55925191+macodroid@users.noreply.github.com>

# @malasenkova
Sofia Malašenková <smalasen@cisco.com>
Sofia Malašenková <smalasen@cisco.com> <smalasenkova@slido.com>
Sofia Malašenková <smalasen@cisco.com> <124354799+malasenkova@users.noreply.github.com>

# @kmaraz
Kamil Maráz <kamil1@cisco.com>
Kamil Maráz <kamil1@cisco.com> <kamil@slido.com>
Kamil Maráz <kamil1@cisco.com> <cneuha3@gmail.com>
Kamil Maráz <kamil1@cisco.com> <kamilmaraz@gmail.com>
Kamil Maráz <kamil1@cisco.com> <kamil@maraz.co>
Kamil Maráz <kamil1@cisco.com> <6079654+kmaraz@users.noreply.github.com>

# @pmartin0
Paul Martin <pjm@cisco.com>
Paul Martin <pjm@cisco.com> <pmartin@slido.com>
Paul Martin <pjm@cisco.com> <49408116+pmartin0@users.noreply.github.com>

# 
Lucia Masárová <lmasarova@slido.com>

# @mrvecka
Lukáš Mrvečka <lmrveka@cisco.com>
Lukáš Mrvečka <lmrveka@cisco.com> <lmrvecka@slido.com>
Lukáš Mrvečka <lmrveka@cisco.com> <mrvecka@users.noreply.github.com>
Lukáš Mrvečka <lmrveka@cisco.com> <32649732+mrvecka@users.noreply.github.com>

# @leemm
Lee McCormick <lemccorm@cisco.com>
Lee McCormick <lemccorm@cisco.com> <leemmccormick@gmail.com>
Lee McCormick <lemccorm@cisco.com> <lmccormick@slido.com>
Lee McCormick <lemccorm@cisco.com> <leemm@users.noreply.github.com>

# @ondrejmockor, @somlenon
Ondrej Močkor <mockor@cisco.com>
Ondrej Močkor <mockor@cisco.com> <omockor@slido.com>
Ondrej Močkor <mockor@cisco.com> <ondrej@mockor.me>
Ondrej Močkor <mockor@cisco.com> <somlenon@gmail.com>
Ondrej Močkor <mockor@cisco.com> <91457552+ondrejmockor@users.noreply.github.com>
Ondrej Močkor <mockor@cisco.com> <50739368+somlenon@users.noreply.github.com>
Ondrej Močkor <mockor@cisco.com> Ondrej Mockor <>

# @ianmuscat
Ian Muscat <imuscat@cisco.com>
Ian Muscat <imuscat@cisco.com> <imuscat@slido.com>
Ian Muscat <imuscat@cisco.com> <ianmuscat@gmail.com>

# @dasamuzikova
Dáša Mužiková <dasam@cisco.com>
Dáša Mužiková <dasam@cisco.com> <dmuzikova@slido.com>

# @nasyrov
Evgenii Nasyrov <enasyrov@cisco.com>
Evgenii Nasyrov <enasyrov@cisco.com> <enasyrov@slido.com>
Evgenii Nasyrov <enasyrov@cisco.com> <inasyrov@ya.ru>
Evgenii Nasyrov <enasyrov@cisco.com> <1330477+nasyrov@users.noreply.github.com>

# @Buca11
Lucia Navarčíková <lnavarci@cisco.com>
Lucia Navarčíková <lnavarci@cisco.com> <lunavarc@cisco.com>
Lucia Navarčíková <lnavarci@cisco.com> <lnavarcikova@slido.com>
Lucia Navarčíková <lnavarci@cisco.com> <lucka.navarcikova@gmail.com>

# @novacikd
Daniel Nováčik <dnovacik@cisco.com>
Daniel Nováčik <dnovacik@cisco.com> <novacikd@cisco.com>
Daniel Nováčik <dnovacik@cisco.com> <dnovacik@slido.com>
Daniel Nováčik <dnovacik@cisco.com> <novacikd@users.noreply.github.com>
Daniel Nováčik <dnovacik@cisco.com> <140691889+novacikd@users.noreply.github.com>

# @petnovak
Peter Novák <petnovak@cisco.com>
Peter Novák <petnovak@cisco.com> <pnovak@slido.com>
Peter Novák <petnovak@cisco.com> <129382369+petnovak@users.noreply.github.com>
Peter Novák <petnovak@cisco.com> <petnovak@users.noreply.github.com>

# @ondrasak
Marián Ondrašák <ondrasak@cisco.com>
Marián Ondrašák <ondrasak@cisco.com> <mondrasak@slido.com>
Marián Ondrašák <ondrasak@cisco.com> <ondrasak@gmail.com>
Marián Ondrašák <ondrasak@cisco.com> <ondrasak@users.noreply.github.com>
Marián Ondrašák <ondrasak@cisco.com> <884936+ondrasak@users.noreply.github.com>

# @MarkoOndrejicka
Marko Ondrejička <maondrej@cisco.com>
Marko Ondrejička <maondrej@cisco.com> <mondrejicka@slido.com>
Marko Ondrejička <maondrej@cisco.com> <marko.ondrejicka@vacuumlabs.com>
Marko Ondrejička <maondrej@cisco.com> <32097493+MarkoOndrejicka@users.noreply.github.com>

# @tomondre
Tomáš Ondrejka <tondrejk@cisco.com>
Tomáš Ondrejka <tondrejk@cisco.com> <tondrejka@slido.com>
Tomáš Ondrejka <tondrejk@cisco.com> <info@tomondre.com>
Tomáš Ondrejka <tondrejk@cisco.com> <tomas.ondrejka2000@gmail.com>
Tomáš Ondrejka <tondrejk@cisco.com> <74958297+tomondre@users.noreply.github.com>

# @vikion
Viktória Ondrejová <vondrejo@cisco.com>
Viktória Ondrejová <vondrejo@cisco.com> <vondrejova@slido.com>
Viktória Ondrejová <vondrejo@cisco.com> <ondrejovaviktoria@gmail.com>
Viktória Ondrejová <vondrejo@cisco.com> <32011555+vikion@users.noreply.github.com>

# @mario-orlicky
Mário Orlický <morlicky@slido.com>

# @annaorlovska
Anna Orlovská <orlovska@cisco.com>
Anna Orlovská <orlovska@cisco.com> <aorlovska@slido.com>

# @DominikPalo
Dominik Paľo <dpalo@cisco.com>
Dominik Paľo <dpalo@cisco.com> <dominik@slido.com>
Dominik Paľo <dpalo@cisco.com> <dominik@sli.do>
Dominik Paľo <dpalo@cisco.com> <dominik@palo.sk>

# @apansky
Adrián Pánský <ado@slido.com>
Adrián Pánský <ado@slido.com> <ado@sli.do>
Adrián Pánský <ado@slido.com> <apansky@gmail.com>

# @Vreckovka
Roman Pecho <rpecho@cisco.com>
Roman Pecho <rpecho@cisco.com> <rpecho@slido.com>
Roman Pecho <rpecho@cisco.com> <34897240+Vreckovka@users.noreply.github.com>
Roman Pecho <rpecho@cisco.com> <Vreckovka@users.noreply.github.com>

# @sdevope
Štefan Petrán <petrans@cisco.com>
Štefan Petrán <petrans@cisco.com> <spetran@slido.com>
Štefan Petrán <petrans@cisco.com> <sdevope@users.noreply.github.com>
Štefan Petrán <petrans@cisco.com> <47383361+sdevope@users.noreply.github.com>

# @gipiccol
Giulio Piccolo <gipiccol@cisco.com>
Giulio Piccolo <gipiccol@cisco.com> <gpiccolo@slido.com>
Giulio Piccolo <gipiccol@cisco.com> <103688609+gipiccol@users.noreply.github.com>

# @adplavka
Adrián Plávka <aplavka@cisco.com>
Adrián Plávka <aplavka@cisco.com> <aplavka@slido.com>
Adrián Plávka <aplavka@cisco.com> <adplavka@users.noreply.github.com>
Adrián Plávka <aplavka@cisco.com> <132048379+adplavka@users.noreply.github.com>

# @iplesko
Ivan Pleško <iplesko@cisco.com>
Ivan Pleško <iplesko@cisco.com> <iplesko@slido.com>
Ivan Pleško <iplesko@cisco.com> <ivan.plesko@gmail.com>
Ivan Pleško <iplesko@cisco.com> <iplesko@users.noreply.github.com>

# @Kejsty
Katarína Plháková <kejsty@cisco.com>
Katarína Plháková <kejsty@cisco.com> <kplhakova@slido.com>
Katarína Plháková <kejsty@cisco.com> <k.plhakova@gmail.com>

# @JanPodmajersky
Ján Podmajerský <janpod@cisco.com>
Ján Podmajerský <janpod@cisco.com> <jpodmajersky@slido.com>
Ján Podmajerský <janpod@cisco.com> <jan.podmajersky@gmail.com>
Ján Podmajerský <janpod@cisco.com> <jan@podmajer.sk>
Ján Podmajerský <janpod@cisco.com> <JanPodmajersky@users.noreply.github.com>

# @tomasprieboj
Tomáš Prieboj <priebojt@cisco.com>
Tomáš Prieboj <priebojt@cisco.com> <tprieboj@slido.com>
Tomáš Prieboj <priebojt@cisco.com> <tprieboj@gmail.com>
Tomáš Prieboj <priebojt@cisco.com> <tomasprieboj@users.noreply.github.com>

# @rprin7
Raquel Prince <rprin7@cisco.com>
Raquel Prince <rprin7@cisco.com> <rprince@slido.com>
Raquel Prince <rprin7@cisco.com> <95292832+rprin7@users.noreply.github.com>

# @andrejkaPry
Andrea Prýglová <apryglov@cisco.com>
Andrea Prýglová <apryglov@cisco.com> <apryglova@slido.com>
Andrea Prýglová <apryglov@cisco.com> <andrejkaPry@users.noreply.github.com>
Andrea Prýglová <apryglov@cisco.com> <72999361+andrejkaPry@users.noreply.github.com>

# @aspunj
Ashwin Punj <aspunj@cisco.com>
Ashwin Punj <aspunj@cisco.com> <apunj@slido.com>

# @sip9522
Shona Puri <shopuri@cisco.com>
Shona Puri <shopuri@cisco.com> <spuri@slido.com>
Shona Puri <shopuri@cisco.com> <56268298+sip9522@users.noreply.github.com>

# @igor-kamil
Igor Rjabinin <igor.rjabinin@gmail.com>

# @emo-slido
Emmanuel Rodriguez <emmarodr@cisco.com>
Emmanuel Rodriguez <emmarodr@cisco.com> <erodriguez@slido.com>
Emmanuel Rodriguez <emmarodr@cisco.com> <56197+emo-slido@users.noreply.github.com>

# @andrejroth
Andrej Roth <andrejr@cisco.com>
Andrej Roth <andrejr@cisco.com> <aroth@slido.com>
Andrej Roth <andrejr@cisco.com> <110371073+andrejroth@users.noreply.github.com>

# @viktorroth
Viktor Roth <roty@cisco.com>
Viktor Roth <roty@cisco.com> <vroth@slido.com>
Viktor Roth <roty@cisco.com> <viktor.roth.98@icloud.com>
Viktor Roth <roty@cisco.com> <48642345+viktorroth@users.noreply.github.com>

# @jaksenko
Jakub Senko <jaksenko@cisco.com>
Jakub Senko <jaksenko@cisco.com> <jsenko@slido.com>
Jakub Senko <jaksenko@cisco.com> <jakubsenko@gmail.com>
Jakub Senko <jaksenko@cisco.com> <jaksenko@users.noreply.github.com>
Jakub Senko <jaksenko@cisco.com> <87317406+jaksenko@users.noreply.github.com>

# @charrrming
Alina Serhiienko <aserhiie@cisco.com>
Alina Serhiienko <aserhiie@cisco.com> <asergiienko@slido.com>
Alina Serhiienko <aserhiie@cisco.com> <110592748+charrrming@users.noreply.github.com>

# @DanielSkala
Daniel Skala <daskala@cisco.com>
Daniel Skala <daskala@cisco.com> <dskala@slido.com>
Daniel Skala <daskala@cisco.com> <danko.skala@gmail.com>

# @trimitris
Demetris Skottis <dskottis@cisco.com>
Demetris Skottis <dskottis@cisco.com> <dskottis@slido.com>
Demetris Skottis <dskottis@cisco.com> <trimitris@users.noreply.github.com>
Demetris Skottis <dskottis@cisco.com> <100217640+trimitris@users.noreply.github.com>

# @tomp-slido
Tom Smith-Pimlott <tpimlott@cisco.com>
Tom Smith-Pimlott <tpimlott@cisco.com> <tpimlott@slido.com>
Tom Smith-Pimlott <tpimlott@cisco.com> <94980612+tomp-slido@users.noreply.github.com>

# @mimocis
Michal Staškovan <michalst@cisco.com>
Michal Staškovan <michalst@cisco.com> <mstaskovan@slido.com>

# @isteiner93
Ivan Steiner <ivsteine@cisco.com>
Ivan Steiner <ivsteine@cisco.com> <isteiner@slido.com>
Ivan Steiner <ivsteine@cisco.com> <i.steiner.93@gmail.com>
Ivan Steiner <ivsteine@cisco.com> <59017725+isteiner93@users.noreply.github.com>

# 
Jakub Straka <jstraka@slido.com>

# @pschiffe
Peter Schiffer <pschff@cisco.com>
Peter Schiffer <pschff@cisco.com> <pschiffer@slido.com>
Peter Schiffer <pschff@cisco.com> <3899107+pschiffe@users.noreply.github.com>

# @junckritter
Tomáš Sirný <tsirny@cisco.com>
Tomáš Sirný <tsirny@cisco.com> <tsirny@slido.com>
Tomáš Sirný <tsirny@cisco.com> <tsirny@gmail.com>

# @svestka
Peter Slivka <pslivka@cisco.com>
Peter Slivka <pslivka@cisco.com> <pslivka@slido.com>
Peter Slivka <pslivka@cisco.com> <pslivka@sli.do>
Peter Slivka <pslivka@cisco.com> <peter@peterslivka.sk>
Peter Slivka <pslivka@cisco.com> <svestka@svestka.sk>
Peter Slivka <pslivka@cisco.com> <1475280+svestka@users.noreply.github.com>

# @ksommerSlido
Kristian Sommer <ksommer@cisco.com>
Kristian Sommer <ksommer@cisco.com> <ksommer@slido.com>

# @pavstanc
Pavel Stančík <pavstanc@cisco.com>
Pavel Stančík <pavstanc@cisco.com> <pavstanc@slido.com>
Pavel Stančík <pavstanc@cisco.com> <131344660+pavstanc@users.noreply.github.com>

# @samsucik
Samuel Sučík <ssucik@cisco.com>
Samuel Sučík <ssucik@cisco.com> <ssucik@slido.com>
Samuel Sučík <ssucik@cisco.com> <sucik.samo@gmail.com>

# @suriakub
Jakub Suriak <jsuriak@cisco.com>
Jakub Suriak <jsuriak@cisco.com> <jsuriak@slido.com>
Jakub Suriak <jsuriak@cisco.com> <55034492+suriakub@users.noreply.github.com>

# @pavelsaman
Pavel Šaman <psaman@cisco.com>
Pavel Šaman <psaman@cisco.com> <psaman@slido.com>
Pavel Šaman <psaman@cisco.com> <pavelsaman@users.noreply.github.com>
Pavel Šaman <psaman@cisco.com> <24702416+pavelsaman@users.noreply.github.com>

# @mirzek
Miroslav Šimek <mishimek@cisco.com>
Miroslav Šimek <mishimek@cisco.com> <miroslav.simek@panaxeo.com>

# @monrep
Monika Repka Šoltésová <monrep@cisco.com>
Monika Repka Šoltésová <monrep@cisco.com> <monika@slido.com>
Monika Repka Šoltésová <monrep@cisco.com> <95292787+monrep@users.noreply.github.com>

# @jansoltis
Ján Šoltís <jsoltis@slido.com>
Ján Šoltís <jsoltis@slido.com> <jansoltis@users.noreply.github.com>

# @sweco
Andrej Švec <andyswec@cisco.com>
Andrej Švec <andyswec@cisco.com> <asvec@slido.com>
Andrej Švec <andyswec@cisco.com> <andy.swec@gmail.com>
Andrej Švec <andyswec@cisco.com> <11132999+sweco@users.noreply.github.com>

# @mrshu
Marek Šuppa <mrshu@cisco.com>
Marek Šuppa <mrshu@cisco.com> <msuppa@slido.com>
Marek Šuppa <mrshu@cisco.com> <mr@shu.io>
Marek Šuppa <mrshu@cisco.com> <mrshu@users.noreply.github.com>

# @jteslar
Jaroslav Tešlár <jaro@cisco.com>
Jaroslav Tešlár <jaro@cisco.com> <jteslar@slido.com>
Jaroslav Tešlár <jaro@cisco.com> <49202273+jteslar@users.noreply.github.com>

# @LacoAtCisco
Ladislav Kis-Tóth <laco@cisco.com>
Ladislav Kis-Tóth <laco@cisco.com> <ltoth@slido.com>
Ladislav Kis-Tóth <laco@cisco.com> <ladislav.kis-toth@glassig.com>
Ladislav Kis-Tóth <laco@cisco.com> <laco@units.company>
Ladislav Kis-Tóth <laco@cisco.com> <91193857+LacoAtCisco@users.noreply.github.com>

# @misi-truchan
Michaela Truchanová <trumi@cisco.com>
Michaela Truchanová <trumi@cisco.com> <mkumorova@slido.com>
Michaela Truchanová <trumi@cisco.com> <mtruchanova@slido.com>
Michaela Truchanová <trumi@cisco.com> <kumorova@cisco.com>
Michaela Truchanová <trumi@cisco.com> <91188852+misi-truchan@users.noreply.github.com>

# @trungi
Tomáš Trungel <trungel@cisco.com>
Tomáš Trungel <trungel@cisco.com> <ttrungel@slido.com>
Tomáš Trungel <trungel@cisco.com> <t.trungel@gmail.com>
Tomáš Trungel <trungel@cisco.com> <trungi@users.noreply.github.com>

# @uhnakm
Michal Uhnák <uhnak@cisco.com>
Michal Uhnák <uhnak@cisco.com> <michael@slido.com>
Michal Uhnák <uhnak@cisco.com> <94977800+uhnakm@users.noreply.github.com>

# @jmdu99
José Manuel Díaz Urraco <jdiazurr@cisco.com>
José Manuel Díaz Urraco <jdiazurr@cisco.com> <jmdiazurraco@slido.com>
José Manuel Díaz Urraco <jdiazurr@cisco.com> <josemanuel.diaz.urraco@alumnos.upm.es>
José Manuel Díaz Urraco <jdiazurr@cisco.com> <48102058+jmdu99@users.noreply.github.com>

# @vallusmichal
Michal Valluš <mvallus@cisco.com>
Michal Valluš <mvallus@cisco.com> <mvallus@slido.com>
Michal Valluš <mvallus@cisco.com> <35817008+vallusmichal@users.noreply.github.com>

# @edovarady
Eduard Várady <evarady@cisco.com>
Eduard Várady <evarady@cisco.com> <evarady@slido.com>
Eduard Várady <evarady@cisco.com> <133752110+edovarady@users.noreply.github.com>

# @gofr
Jorrit Vermeiren <jvermeir@cisco.com>
Jorrit Vermeiren <jvermeir@cisco.com> <jvermeiren@slido.com>
Jorrit Vermeiren <jvermeir@cisco.com> <32750931+gofr@users.noreply.github.com>
Jorrit Vermeiren <jvermeir@cisco.com> <gofr@users.noreply.github.com>

# 
Jan Vitez <jvitez@cisco.com>
Jan Vitez <jvitez@cisco.com> <jvitez@slido.com>

# @pzaujec
Peter Zaujec <pzaujec@cisco.com>
Peter Zaujec <pzaujec@cisco.com> <pzaujec@slido.com>
Peter Zaujec <pzaujec@cisco.com> <91251486+pzaujec@users.noreply.github.com>

# @matuszeman
Matúš Zeman <mzeman@slido.com>
Matúš Zeman <mzeman@slido.com> <matus.zeman@gmail.com>

# @zarnovican
Branislav Žarnovičan <bzarnovican@slido.com>
Branislav Žarnovičan <bzarnovican@slido.com> <b.zarnovican@slido.com>
Branislav Žarnovičan <bzarnovican@slido.com> <zarnovican@gmail.com>

## Bots & service accounts

# @slido-bot
🤖 SlidoBot <slido-github-bot.gen@cisco.com>
🤖 SlidoBot <slido-github-bot.gen@cisco.com> <91220152+slido-bot@users.noreply.github.com>

# @dependabot
🤖 DependaBot <49699333+dependabot[bot]@users.noreply.github.com>

# @github-merge-queue
🤖 GitHub Merge Queue Bot <118344674+github-merge-queue[bot]@users.noreply.github.com>

# @slido-frontend-ci-bot
🤖 Slido Frontend CI Bot <184401425+slido-frontend-ci-bot[bot]@users.noreply.github.com>

# @snyk-bot
🤖 Snyk Bot <snyk-bot@snyk.io>

# N/A
🤖 BitBucket Pipelines <commits-noreply@bitbucket.org>
